.git
**/node_modules
**/dist
**/.venv
**/__pycache__
**/.pytest_cache
**/*.egg-info
**/.env
ai-service/models
.artifacts
env
**/.env.*
!**/.env.example
**/.test-storage
**/*.wav
**/*.mp3
**/*.m4a
**/*.dump
**/.cache
backup
backups
